<div class="row">
  <div class="col-xs-12">
    <header class="page-header">
      <h1>My Journey of Life</h1>
    </header>

    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Join TechLadies =)</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> unknown </small></p>
          </div>
          <div class="tl-body">
            <p><img src=<%= image_path('logos/techladies.png') %> alt="Techladies icon" ></p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>First Job as a Software Engineer</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16/01/2017</small></p>
          </div>
          <div class="tl-body">
            <p>Joined Applied Mesh. Exposed to stack with configuration over convention.</p>
            <p>Played around with API using Zend framework & Play framework.</p>
          </div>
        </div>
      </li>

      <li><div class="tldate">Jan 2017</div></li>

      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>First PR</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/16/2014</small></p>
          </div>
          <div class="tl-body">
            <p>Started first pull request on something useful thanks to <a href="http://agileventures.org/">AgileVentures</a>.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-panel noarrow">
          <div class="tl-heading">
            <h4>Hello to Rails</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1/01/2016 - 15/04/2016 </small></p>
          </div>
          <div class="tl-body">
            <p>Joined NEXT Academy bootcamp. Learned Rails, Git, and driving. </p>
          </div>
        </div>
      </li>

      <li><div class="tldate">Jan 2016</div></li>

      <li class="timeline-inverted">
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Farewell to Semiconductor industry</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 4/09/2015</small></p>
          </div>
          <div class="tl-body">
            <p>Resigned from Marvell as a Senior Analog Design Engineer </p>
            <p><img src=<%= image_path('about_me/farewell.jpg') %> alt="Farewell"></p>
          </div>
        </div>
      </li>
      <li><div class="tldate">Jan 2015</div></li>

      <li>
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>I am Analog Design Engineer =)</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 30/10/2011</small></p>
          </div>
          <div class="tl-body">
            <p><img src=<%= image_path('about_me/marvell.jpg') %> alt="Marvell"></p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Graduation!</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> ?/08/2011</small></p>
          </div>
          <div class="tl-body">
            <p><img src=<%= image_path('about_me/graduation.jpg') %> alt="Graduation" ></p>
          </div>
        </div>
      </li>

      <li><div class="tldate">Jan 2011</div></li>
      <li>
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>EE Student in Nanyang Technological University</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> ?/08/2007</small></p>
          </div>
          <div class="tl-body">
            <p>Specialized in Integrated Circuit Design </p>
            <p>Had fun joining Piano Ensemble </p>
            <p>Selected for CN Yang Scholars Program. Tried some statistical analysis... </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
