<div class="row">
  <div class="col-xs-4">
    <div class="check-me-out">
      <p>Check Me Out @</p>
    </div>
    <div class="logos-group">
      <a href="https://github.com/jeanwei" target="_blank">
        <img src="<%= image_path('PNG/GitHub-Mark-Light-64px') %>">
      </a>
      <a href="https://www.linkedin.com/in/tong-wei-lian-942097b8/" target="_blank">
        <img src="https://www.seeklogo.net/wp-content/uploads/2012/03/linkedin-icon-logo-vector-400x400.png"  alt="LinkedIn icon vector (.eps)" width="20%" />
      </a>
      <a href="https://www.facebook.com/tongwei" target="_blank">
        <img src="<%= image_path('facebook-logos/facebook-flat-vector-logo') %>"  width="20%">
      </a>
    </div>
    <div class="check-me-out" style="margin-top: 30px">
      <p>More About My Interest ...</p>
    </div>
    <div class="widgets">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1151487428295259";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-page" data-href="https://www.facebook.com/agileventures" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/agileventures" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/agileventures">AgileVentures</a>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="check-me-out">
      <p>To Get In Touch ~ </p>
    </div>
    <%= render 'form' %>
  </div>
</div>
