<% provide(:video, 'active') %>

<div class="row">
  <div class="video video-container">
    <div id='player'></div>
    <iframe id="player" allowfullscreen=true align="center" width="864" height="486"
          src="https://www.youtube.com/embed/Nm-JPteXb5s?&origin=http://localhost:3000"
          frameborder="0"></iframe>
  </div>
</div>
